@page "/Addpaciente"
@using FichaAtendimento.Shared.Model
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Adicionar novo paciente</h3>
<hr />

<style>
    .control-label {
        margin-top: 10px;
    }

    .divSessaoPaga {
        margin-top: 10px;
    }

    .divReciboEntregue {
        margin-bottom: 10px;
    }

    .checkbox {
        margin-left: 10px;
    }

    .coluna {
    }
</style>

<EditForm Model="@newPaciente" class="form">
    <div class="row coluna">
        <div class="col-md-3">
            <div class="form-group">
                <label for="NomePaciente" class="control-label">Paciente:</label>
                <InputText form="NomePaciente" class="form-control" @bind-Value="@newPaciente.NomePaciente"></InputText>
                <label for="DataNascimento" class="control-label">Data de Nascimento:</label>
                <InputDate class="form-control" @bind-Value="@newPaciente.DataNascimento" />
                <label for="Endereco" class="control-label">Endereco:</label>
                <InputText form="Endereco" class="form-control" @bind-Value="@newPaciente.Endereco"></InputText>
                <label for="Profissao" class="control-label">Profissão:</label>
                <InputText form="Profissao" class="form-control" @bind-Value="@newPaciente.Profissao"></InputText>
                <label for="Telefone" class="control-label">Telefone:</label>
                <InputText form="Telefone" class="form-control" @bind-Value="@newPaciente.Telefone"></InputText>

            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="Email" class="control-label">Email:</label>
                <InputText form="Email" class="form-control" @bind-Value="@newPaciente.Email"></InputText>
                <label for="CPF" class="control-label">CPF:</label>
                <InputText form="CPF" class="form-control" @bind-Value="@newPaciente.CPF"></InputText>
                <label for="RG" class="control-label">RG:</label>
                <InputText form="RG" class="form-control" @bind-Value="@newPaciente.RG"></InputText>
                <label for="ReciboPara" class="control-label">Recibo Para:</label>
                <InputText form="ReciboPara" class="form-control" @bind-Value="@newPaciente.ReciboPara"></InputText>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button class="btn btn-primary" @onclick="@CreatePaciente" value="Save">Salvar</button>
                <button class="btn btn-danger" @onclick="@Cancel" value="Cancel">Cancelar</button>
            </div>
        </div>
    </div>
</EditForm>