@page "/Pacientes"
@using FichaAtendimento.Shared.Model
@inject HttpClient Http
@inject NavigationManager NavigationManager


<style>
    .topMenu {
        display: inline;
        margin-right: 30px;
        align-self: center;
    }

    .infoMsg {
        margin-top: 30px;
    }

    .dropdown {
        margin-bottom: 10px;
    }
</style>

<div style="display: inline-flex">
    <h1 class="topMenu">Pacientes</h1>
    <button @onclick="@NewPaciente" class="btn btn-primary topMenu">NOVO PACIENTE</button>
</div>


@if (pacientesArr == null)
{
    <div class="infoMsg">
        <h3>Não há pacientes para serem exibidos.</h3>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Data Nascimento</th>
                <th>Nacionalidade</th>
                <th>Endereço</th>
                <th>Profissão</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Escolaridade</th>
                <th>Religiao</th>
                <th>Nome do Pai</th>
                <th>Idade Pai</th>
                <th>Nome da Mãe</th>
                <th>Idade Mãe</th>
                <th>Recibo para</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var paciente in pacientesArr)
            {
                <tr>
                    <td>@paciente.NomePaciente</td>
                    <td>@paciente.DataNascimento.ToShortDateString()</td>
                    <td>@paciente.Nacionalidade</td>
                    <td>@paciente.Endereco</td>
                    <td>@paciente.Profissao</td>
                    <td>@paciente.Telefone</td>
                    <td>@paciente.Email</td>
                    <td>@paciente.CPF</td>
                    <td>@paciente.RG</td>
                    <td>@paciente.Escolaridade</td>
                    <td>@paciente.Religiao</td>
                    <td>@paciente.NomePai</td>
                    <td>@paciente.IdadePai</td>
                    <td>@paciente.NomeMae</td>
                    <td>@paciente.IdadeMae</td>
                    <td>@paciente.ReciboPara</td>
                    <td>
                        <a class="nav-link" href="EditPaciente/@paciente.idPaciente">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Editar
                        </a>
                        <a class="nav-link" href="RemovePaciente/@paciente.idPaciente">
                            <span class="oi oi-trash" aria-hidden="true"></span> Remover
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}