@page "/Pacientes"
@using FichaAtendimento.Shared.Model
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div style="display: inline-flex">
    <h1 style="display: inline; margin-right: 30px">Fichas de Atendimento</h1>
    <button @onclick="@NovaFicha" style="display:inline; align-self: center" class="btn btn-primary">NOVA FICHA</button>
</div>
<br>

@if (fichas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Resumo do Atendimento</th>
                <th>Conduta Clínica</th>
                <th>CID10/DSM</th>
                <th>Próxima Tarefa</th>
                <th>Abordagem na Proxima Sessão</th>
                <th>Data Atendimento</th>
                <th>Sessão Paga?</th>
                <th>Recibo Entregue?</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in fichas)
            {
                <tr>
                    <td>@item.NomePaciente</td>
                    <td>@item.ResumoAtendimento</td>
                    <td>@item.CondutaClinica</td>
                    <td>@item.CID10_DSM</td>
                    <td>@item.ProxTarefa</td>
                    <td>@item.AbordagemProxSessao</td>
                    <td>@item.DataAtendimento.ToShortDateString()</td>
                    <td>
                        @if (item.SessaoPaga == true)
                            sessaoPaga = "Sim";
                        else
                            sessaoPaga = "Não";
                        @sessaoPaga
                    </td>
                    <td>
                        @if (item.ReciboEntregue == true)
                            reciboEntregue = "Sim";
                        else
                            reciboEntregue = "Não";
                        @reciboEntregue
                    </td>
                    <td>
                        <a class="nav-link" href="EditFicha/@item.idPaciente">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Editar
                        </a>
                        <a class="nav-link" href="RemoveFicha/@item.idPaciente">
                            <span class="oi oi-trash" aria-hidden="true"></span> Remover
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Ficha[] fichas;

    protected override async Task OnInitializedAsync()
    {
        fichas = await Http.GetFromJsonAsync<Ficha[]>("api/Fichas");
    }

    private string sessaoPaga;
    private string reciboEntregue;

    private void NovaFicha()
    {
        NavigationManager.NavigateTo("/addficha");
    }


}
